i.align-left {
  content: url(../assets/icons/text-align-left.svg);
}
i.align-center {
  content: url(../assets/icons/text-align-center.svg);
}
i.align-right {
  content: url(../assets/icons/text-align-right.svg);
}
i.print {
  content: url(../assets/icons/print-lined.svg);
}