/* COLORS */
$primary: #cacaca;
$black: #000000;
$white: #ffffff;
/* APPLIED COLORS */
$textColor: $black;

/* FONT SIZES */
$fs: 1.6rem;
$tagFs: 1.2rem;

/* FONT FAMILIES */
$font: 'Work Sans', sans-serif;
$tagFont : 'Times New Roman', Times, serif;

/* BORDER */
$tagBorder: 1px solid #cacaca;
$borderRadius: .8rem;

/* Transitions */
$transitionAll: all 200ms ease;
$hoverFilter: brightness(0.9);